/ This we show when setting the crop parameters of an upload. 
/ It is usually either summoned by a click or returned on a 
/ redirect from uploads#create. For more direct editing you could 
/ also nest cropper/uploads/crop in the recipient's edit form.
.edit_upload
  = render :partial => "cropper/uploads/crop"