/ This we show when first creating an upload. It is a standard base
/ from which to launch the javascript picker/uploader that will create
/ an upload object and move us into edit (ie crop) mode.
.upload
  = render :partial => "cropper/uploads/pick"